<div class="stage stage1">
  <div class="teams">
    <app-team
      [ngClass]="{ disabled: team1 != undefined }"
      idPosition="team-A"
    ></app-team>
    <app-team
      [ngClass]="{ disabled: team1 != undefined }"
      idPosition="team-B"
    ></app-team>
  </div>
</div>
<div class="stage stage1">
  <div class="teams">
    <app-team
      [ngClass]="{ disabled: team2 != undefined }"
      idPosition="team-C"
    ></app-team>
    <app-team
      [ngClass]="{ disabled: team2 != undefined }"
      idPosition="team-D"
    ></app-team>
  </div>
</div>
<div class="stage stage1">
  <div class="teams">
    <app-team
      [ngClass]="{ disabled: team3 != undefined }"
      idPosition="team-E"
    ></app-team>
    <app-team
      [ngClass]="{ disabled: team3 != undefined }"
      idPosition="team-F"
    ></app-team>
  </div>
</div>
<div class="stage stage1">
  <div class="teams">
    <app-team
      [ngClass]="{ disabled: team4 != undefined }"
      idPosition="team-G"
    ></app-team>
    <app-team
      [ngClass]="{ disabled: team4 != undefined }"
      idPosition="team-H"
    ></app-team>
  </div>
</div>
