.team {
    border: solid 1px #fafafa;
    border-radius: 12px;
    display: flex;
    padding: 10px;
    align-items: center;
    background: #0C1723;
    justify-content: center;
    color: #EF5567;
    cursor: pointer;
}