<div class="battle">
  <!--Display Team 1 -->
  <div class="colTeam">
    <p class="mt-[10%] text-5xl">{{ team1.name }}</p>
    <div class="result" *ngIf="result.team1">
      <img class="w-[350px]" [src]="result.team1" alt="Result Team 1" />
    </div>
    <app-team-members side="left" [team]="team1"></app-team-members>
  </div>

  <!-- Manage the outcome of the confrontation -->
  <div class="manager_result">
    <div class="w-full flex gap-3" *ngIf="!result.team1">
      <button (click)="winner('team1')" class="button">
        <mat-icon svgIcon="left"></mat-icon>
        <p class="pt-1">winner</p>
      </button>
      <button (click)="winner('team2')" class="button">
        <p class="pt-1">winner</p>
        <mat-icon svgIcon="right"></mat-icon>
      </button>
    </div>
    <img src="/assets/images/vs.png" alt="" />
    <div class="w-full flex gap-3 text-lg" *ngIf="result.team1">
      <a [routerLink]="['/']" class="w-full"
        ><button class="button w-full">back</button>
      </a>
    </div>
  </div>

  <!--Display Team 2 -->
  <div class="colTeam">
    <p class="mt-[10%] text-5xl">{{ team2.name }}</p>
    <div class="result" *ngIf="result.team2">
      <img class="w-[350px]" [src]="result.team2" alt="Result Team 1" />
    </div>
    <app-team-members side="right" [team]="team2"></app-team-members>
  </div>
</div>
