@tailwind base;
@tailwind components;
@tailwind utilities;
@use '@angular/material' as mat;
@include mat.core();

$tournament-primary: mat.define-palette(mat.$indigo-palette);
$tournament-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$tournament-warn: mat.define-palette(mat.$red-palette);

$tournament-theme: mat.define-light-theme((color: (primary: $tournament-primary,
        accent: $tournament-accent,
        warn: $tournament-warn,
      )));

@include mat.all-component-themes($tournament-theme);


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}