<div
  class="tournament h-full grid grid-cols-3 justify-items-center items-center"
>
  <div class="phase pl-16">
    <div class="stage stage1">
      <div class="teams">
        <app-team idPosition="team-A"></app-team>
        <app-team idPosition="team-B"></app-team>
      </div>
    </div>
    <div class="stage stage1">
      <div class="teams">
        <app-team idPosition="team-C"></app-team>
        <app-team idPosition="team-D"></app-team>
      </div>
    </div>
  </div>
  <div class="phase">
    <div class="stage stage2 stage1">
      <div class="teams w-full py-2">
        <a
          [routerLink]="['/battle']"
          [queryParams]="{ team1: 'team-A', team2: 'team-B' }"
          [ngClass]="{ disabled: stageAB || finalist1 != undefined }"
        >
          <div class="battle">
            <div class="w-4/5 text-[#EF5567]">
              <p>{{ finalist1?.name || "Select Winner!" }}</p>
            </div>
            <div class="w-1/5 flex justify-center items-center">
              <mat-icon>play_arrow</mat-icon>
            </div>
          </div>
        </a>
        <a
          [routerLink]="['/battle']"
          [queryParams]="{ team1: 'team-C', team2: 'team-D' }"
          [ngClass]="{ disabled: stageCD || finalist2 != undefined }"
        >
          <div class="battle">
            <div class="w-4/5 text-[#EF5567]">
              <p>{{ finalist2?.name || "Select Winner!" }}</p>
            </div>
            <div class="w-1/5 flex justify-center items-center">
              <mat-icon>play_arrow</mat-icon>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="phase">
    <div class="stage stage3">
      <div class="teams w-full py-2">
        <a
          [routerLink]="['/battle']"
          [queryParams]="{
            team1: finalist1?.idPosition,
            team2: finalist2?.idPosition,
            final: true
          }"
          [ngClass]="{ disabled: !final }"
        >
          <div class="battle">
            <div class="w-4/5 text-[#EF5567]">
              <p>{{ champion?.name || "Select Champion!" }}</p>
            </div>
            <div class="w-1/5 flex justify-center items-center">
              <mat-icon>play_arrow</mat-icon>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
